@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@300;400;600;700&family=Manuale:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  --clr-red-light: #ba071d;
  --clr-red-regular: #9f2836;
  --clr-red-dark: #691b24;

  --clr-white: #ffff;
  --clr-white-bone: #d9d9d9;

  --clr-grey: #404040;
  --clr-grey-dark: #353535;
  --clr-almost-dark: #1c1c1c;
  --clr-dark: #1e1e1e;

  /* Fonts */
  --font-courier: "Courier Prime", monospace;
  --font-inter: "Inter", sans-serif;
  --font-manuale: "Manuale", serif;
}
img {
  width: 100%;
}
.red {
  color: var(--clr-red-light);
}
button {
  transition: 0.3s all;
  cursor: pointer;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
#main {
  width: 100%;
  height: 120dvb;
  background: url("./Assets/Background/front-uni.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
  /* padding: 1rem; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--clr-white);
  padding-right: 0.5rem;
  z-index: 1000;
}
.nabvar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-white);
}
.navbar .navbar-list {
  display: flex;
  gap: 1.5rem;
  font-family: var(--font-courier);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  cursor: pointer;
}
.navbar li:hover {
  transition: all ease-in-out 0.1s;
  border-bottom: 3px solid #fff;
}
.navbar li svg {
  width: 25px;
  height: 25px;
}
.navbar-logo-text {
  font-family: var(--font-manuale);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  line-height: 0.85;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.kiunpa-text {
  font-size: 1.76rem;
  font-weight: 500;
  text-transform: uppercase;
}
.academy-text {
  font-size: 1.25rem;
  font-weight: 300;
}
.main__cuadro {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 6vw;
  padding: 3vw;
  flex-direction: column;
  width: 800px;
  max-width: 800px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.74) 0%,
    rgba(255, 255, 255, 0.74) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  border-left: 0.65rem solid var(--clr-red-light);
  height: 400px;
  max-height: 600px;
}
.cuadro:hover {
  cursor: pointer;
}
.learn-more {
  height: 3.75rem;
  border-radius: 10px;
  border: none;
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--clr-red-regular);
  font-size: 1rem;
  width: 160px;
  margin-top: 1rem;
}
.learn-more:hover {
  background-color: var(--clr-red-dark);
}
.main__cuadro h1 {
  font-size: 2.15rem;
  font-weight: 600;
}
.main__cuadro p {
  font-size: 1.65rem;
  font-weight: 300;
  font-family: var(--font-manuale);
}
/* Segunda Seccion */
.section-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: start;
  position: relative;
  gap: 2rem;
}
.imagen-corner {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 160px;
  max-width: 300px;
}
.section-2 h1 {
  font-size: 2.25rem;
  font-weight: 400;
}
.sec2__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  margin: 2rem;
}
.sec2__content-img {
  width: 30%;
  max-width: 250px;
  height: 300px;
  max-height: 300px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border: 10px solid var(--clr-red-light); /* Color del marco */
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.sec2__content-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sec2__content-text {
  width: 60%;
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.sec2__content-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.sec2__content-text h1:hover {
  color: var(--clr-red-dark);
  transition: all ease 0.3s;
}
.sec2__content-text p,
h1 {
  font-family: var(--font-manuale);
}
.sec2__content-text .learn-more {
  width: 100%;
  max-width: 300px;
}
/* 3 Section */
.section-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 2rem;
}
.esquinero-izquierdo {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 400px;
}
.sec3-title {
  font-size: 2rem;
}
.sec3-group {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
}
.cuadro {
  width: 20%;
  max-width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}
.cuadro .cuadro-normal {
  position: relative;
  background: url("./Assets/Background/kingspanamauniversityassets/cuadro1.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.cuadro .cuadro-normal .cuadro-interactivo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
  transition: all ease 0.5s;
}
.cuadro .cuadro-normal .cuadro-interactivo h2 {
  font-weight: 300;
  padding: 0 1rem;
}
.cuadro .cuadro-normal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.difum {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.74) 0%,
    rgba(255, 255, 255, 0.74) 20%,
    rgba(255, 255, 255, 0) 50%
  );

  z-index: 0;
  transition: all ease-in-out 0.5s;
}
.cuadro:hover .cuadro-interactivo {
  color: var(--clr-white);
  font-weight: 700;
}
.cuadro:hover .difum {
  height: 0;
}
.cuadro-difuminado {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.5rem;
  height: 0;
  background: #ffffff72;
  z-index: -1;
}
.cuadro-difuminado p {
  font-family: var(--font-manuale);
  font-size: 1.2rem;
}
.section-3 .learn-more {
  width: auto;
  padding: 0 1rem;
}

/* Section 4 */
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}
.section-4 hr {
  margin: 0.2rem 0;
}
.sec4-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem 0;
}
.sec4__content-img {
  width: 25%;
}
.sec4__content-text {
  width: 75%;
  padding: 1rem;
}
.content-text__section {
  position: relative;
}
.dropdown {
  margin: 1rem 0;
  border-top: 1px solid;
  color: var(--clr-grey);
}
.dropdown__link svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--clr-red-light);
  background-color: #fff;

  transform: var(--rotate, 0);
  transition: 0.2s transform;
}
.dropdown__list {
  list-style: none;
  border-bottom: 1px solid;
  width: 100%;
}
.dropdown__list:has(:checked) svg {
  transform: rotate(180deg);
}
.dropdown__list:has(:checked) .dropdown__content {
  display: grid;
}
.dropdown__list:has(:checked) {
  --rows: 1fr;
  --rotate: (180deg);
}
.dropdown__link {
  padding: 0.65rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  color: #000;
  justify-content: space-between;
}
.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.dropdown__content {
  display: none;
  grid-template-rows: 0fr;
  transition: 0.3s ease all;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.dropdown__sub {
  overflow: hidden;
  list-style: none;
  margin-left: auto;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.dropdown__sub_special {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.pointer:hover {
  cursor: pointer;
  color: var(--clr-red-dark);
  transition: all ease 0.3s;
}
/* Section 5 */
.section-5 {
  background: url("./Assets/Background/kingspanamauniversityassets/bg_red_curves.webp")
    no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.white {
  width: auto;
  padding: 0 1rem;
  background-color: var(--clr-white);
  color: var(--clr-red-light);
  border: 1px solid var(--clr-red-light);
}
.white:hover {
  padding: 0 1rem;
  background-color: var(--clr-red-regular);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}
.sec5-title {
  color: var(--clr-white);
}
.contenedor-de-cuadros {
  display: flex;
  position: relative;
  margin: 1rem;
  gap: 2rem;
}
.cuadro__courses {
  cursor: pointer;
  max-width: 200px;
  height: auto;
  max-height: 350px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem 0.5rem;
  gap: 0.5rem;
  position: relative;
}
.course__text {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.course__img {
  position: absolute;
  top: -10px;
  border-radius: 0.5rem;
  width: 90%;
  height: 55%;
  object-fit: cover;
}
.cuadro__courses:hover {
  transition: all ease 0.3s;
  opacity: 0.8;
}
.course__title {
  font-weight: 300;
  font-size: 1.25rem;
}
.course__paragraph {
  color: var(--clr-grey);
}
/* 6 section */
.section-6 {
  background: url("./Assets/Background/kingspanamauniversityassets/map-background.webp")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  gap: 1rem;
}
.deslizadores {
  display: flex;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deslizador {
  border-radius: 50%;
  display: flex;
  border: 3px solid var(--clr-red-light);
}
.deslizador:hover {
  cursor: pointer;
  background-color: var(--clr-red-light);
  color: var(--clr-white);
  transition: all ease 0.3s;
  scale: 1.01;
}
.deslizador:hover path {
  fill: var(--clr-white);
}
.-izq {
  transform: rotate(90deg);
}
.-der {
  transform: rotate(270deg);
}
.sec6-title {
  font-size: 1.75rem;
}
.sec6__content {
  padding: 5.25rem;
}
.referendum-title {
  font-size: 1.45rem;
  font-weight: 300;
}
.sec6__text {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.25rem;
}
.sec6__author {
  margin: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  gap: 1rem;
  font-size: 1.25rem;
}
.author {
  font-size: 1.5rem;
}
.bold {
  font-weight: 700;
}
/* Footer */
footer {
  color: var(--clr-white);
  width: 100%;
  background-color: var(--clr-almost-dark);
  overflow: hidden;
  height: 80dvh;
  padding: 3rem 2rem;
}
.sec7-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5rem;
  gap: 2rem;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-logo img {
  max-width: 100px;
}
.footer-logo-text {
  font-family: var(--font-manuale);
  color: var(--clr-white);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 0.85;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
}
.social-media {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-social-media {
  display: flex;
  gap: 0.75rem;
}
.media {
  list-style: none;
}
.media svg path {
  fill: var(--clr-white-bone);
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 200px;
  font-family: var(--font-inter);
  font-weight: 300;
}
.suscribe__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.suscribe__input {
  padding: 0.85rem 1.45rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
}
.suscribe-btn {
  height: auto;
  width: auto;
  padding: 1rem 2rem;
  margin: 0;
}
.copyright {
  font-family: var(--font-inter);
  font-size: 0.85rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 2rem;
  color: var(--clr-white-bone);
}
.suscribe__text {
  text-align: center;
}
.select-sections {
  position: absolute;
  bottom: 0;
  right: 2rem;
}
.group-selections {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  flex-direction: column;
  font-family: var(--font-inter);
  font-size: 0.85rem;
  gap: 0.25rem;
}
.sections {
  list-style: none;
}
.sections a:hover {
  color: var(--clr-red-light);
  transition: all ease 0.3s;
  scale: 1.1;
}
.sections a {
  text-decoration: none;
  color: var(--clr-white-bone);
  font-weight: 700;
}
.menu-icon {
  display: none;
}
.menu-deslizador {
  height: 0;  
}

@media screen and (min-width: 650px) and (max-width: 950px) {
  .navbar-list {
    display: none !important;
  }
  .navbar {
    padding-right: 1rem;
  }
  .menu-icon {
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .menu-deslizador {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    background-color: var(--clr-red-regular);
    z-index: 100;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--font-inter);
    font-weight: bold;
    transition: all ease-in-out .3s;
  }
  .nabvar-logo {
    z-index: 1000;
    position: relative;
  }
  .navbar-list__responsive {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 1.5rem;
  }
  .navbar li svg {
    width: 35px;
    height: 35px;
  }
  .navbar-list__responsive li {
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0.5rem 0.25rem;
    border-left: 5px solid transparent;
    margin: 0.2rem 0;
    height: 50px;
  }
  .navbar-list__responsive li span {
    margin: 0 1rem;
  }
  .navbar li:hover {
    transition: all ease-in-out 0.3s;
    border-bottom: none;
    border-left: 5px solid var(--clr-white);
  }
  .menu-responsive {
    z-index: 1000;
  }
  .close {
    display: none;
  }
}
